<?xml version="1.0" encoding="UTF-8"?>

<!-- the new database connection pooling stuff -->
<!-- see: http://tomcat.apache.org/tomcat-5.5-doc/jndi-datasource-examples-howto.html -->

<Context>
    <Resource name="jdbc/travel_agencydb"
              auth="Container"
              type="javax.sql.DataSource"
              maxActive="100" maxIdle="30" maxWait="10000"
              url="jdbc:mysql://localhost:3306/travel_agencydb"
              username="root"
              password="1111"
              defaultAutoCommit="false"
              defaultTransactionIsolation="READ_COMMITTED"
              driverClassName="com.mysql.jdbc.Driver"/>
</Context>